:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  box-sizing: border-box;
  --primary: #1762df;
  --secondary: #ff4f49;
  --text-color: #383a42;
  --white: #ffffff;
  --background-light:#f8f8f8;
  --primary-light-bg: rgba(33, 79, 241, 0.05);
  --dark-background: #000000;
  --dark-box-background: #1f1f1f;
  --dark-container-background: #111111;
  --dark-text-color: #ffffff;
  --dark-primary: #4a90e2;
}

body {
  margin: 0;
  padding: 0;
  color: var(--text-color);
  background: var(--white);
  width: 100%;
  transition: background 0.3s ease;

}
body.dark-mode {
  background: var(--dark-background);
  color: var(--dark-text-color);
}
body.dark-mode .balance-container,
body.dark-mode .nav-container,
body.dark-mode .search-box,
body.dark-mode .list-container,
body.dark-mode .edit-form
{
  background: var(--dark-box-background); 
}
body.dark-mode .input-box
{
  background: var(--dark-box-background); 
  color: var(--white);
}
body.dark-mode .home-container,
body.dark-mode .about{
  background: var(--dark-container-background);
}

h1{
  font-size: 32px;
  font-weight: bold;
}
h2{
  font-size: 24px;
  font-weight: bold;
}
h3{
  font-size: 18px;
  font-weight: bold;
}
p{
  font-size: 16px;
  font-weight: normal;
}
button{
  cursor: pointer;
}
.home-container{
  margin: auto;
  width: 50%;
  background:var(--primary-light-bg);
  padding: 20px 100px;
  height: 100vh;
}
.balance-container{
  background: white;
  border-radius: 4px;
  padding: 20px 20px;
}
.balance-top-haft{
  display: flex;
  justify-content: space-between;
  text-align: center;
}
.add-container{
  padding-top: 20px;
  text-align: center;
}
.about{
  margin: auto;
  width: 50%;
  padding: 20px 20px;
  background:var(--primary-light-bg);
  height: 100vh;

}
.edit-container{
  margin: auto;
  width: 50%;
}
/* Tablet */
@media screen and (max-width: 768px) {
  .home-container {
    width: 80%;
    padding: 20px 20px;
  }
  .about{
    width: 80%;
    padding: 20px 20px;
  }
  .edit-container{
    width: 80%;
    padding: 20px 20px;
  }
}

/* Mobile */
@media screen and (max-width: 360px) {
  .home-container {
    width: 90%;
    padding: 10px 10px;
  }
  .about{
    width: 100%;
    padding: 10px 10px;
  }
  .edit-container{
    width: 100%;
    padding: 10px 10px;
  }
}

